
.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 5px;
	background-color: lightgrey;
	border-color: black;
  border-width: 2px;
}

.navbar-brand{
	font-family: "Oxygen",bold;
	font-display: block;
  font-size: 35px;
  color: Black;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: blue;
}


.main-title{
  margin-bottom: 5px;
  text-align: center;
  color: brown;
  font-size: 32px;
  font-family: "Oxygen"
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
	font-size: 25px;
}

.menu-item:hover{
	background-color: #E0E0E0;
	color: Blue;
}

.row{
	margin: 5px;
	padding: 0px;
}

.content-box{
	margin: 5px;
	padding: 15px;
	width: auto;
	height: auto;
	color: black;
	background-color: #E0E0E0;
	font-family: "Lora";
	Font-size: 12px;
}

.item-name{
	text-align: center;
	font-family: "Lora";
	font-size: 25px;
	font-weight: bold;
}


#top{

}
